In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("heart.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [3]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [5]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [6]:
# Checking the DataFrame having any Null values
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
df.shape

(1025, 14)

In [8]:
# Define the Target  variable
y= df[['target']]
y

      target
0          0
1          0
2          0
3          0
4          0
...      ...
1020       1
1021       0
1022       0
1023       1
1024       0

[1025 rows x 1 columns]

In [9]:
x = df.drop(columns=['target'])
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [11]:
print("x_train: ",x_train.shape)
print("y_train: ",y_train.shape)
print("x_test: ",x_test.shape)
print("y_test: ",x_test.shape)

x_train:  (820, 13)
y_train:  (820, 1)
x_test:  (205, 13)
y_test:  (205, 13)

In [12]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [13]:
lr.fit(x_train,y_train)

LinearRegression()

In [14]:
m = lr.coef_
print("Coeff: ",m)

Coeff:  [[-0.00277577 -0.22031856  0.12444744 -0.00195104 -0.00050566  0.00170049
   0.03715567  0.00242646 -0.1229881  -0.05734026  0.0862725  -0.0853313
  -0.11837544]]

In [15]:
c = lr.intercept_
print("intercept: ",c)

intercept:  [1.02773065]

In [16]:
y_predict = lr.predict(x_test)
y_predict

array([[-8.29555572e-02],
       [ 6.20192516e-01],
       [-1.22164568e-01],
       [-8.29555572e-02],
       [ 9.03087571e-01],
       [ 6.95915955e-01],
       [ 8.27102224e-02],
       [ 2.85803961e-02],
       [ 2.41999088e-01],
       [ 8.28805673e-01],
       [ 8.03205192e-01],
       [ 3.48363917e-01],
       [ 5.50434232e-01],
       [ 6.31408667e-01],
       [ 9.68789664e-01],
       [ 6.03280677e-01],
       [ 7.30607851e-01],
       [ 3.20334634e-01],
       [ 1.12212267e+00],
       [ 7.11349416e-01],
       [ 7.14100332e-01],
       [ 1.09677019e+00],
       [ 9.35186711e-01],
       [ 9.95326279e-02],
       [ 2.30420069e-01],
       [ 5.89209892e-01],
       [ 2.01330200e-01],
       [ 6.11978786e-01],
       [-1.88764055e-01],
       [ 5.67431733e-01],
       [-6.70341359e-02],
       [ 4.07550910e-01],
       [ 6.08720915e-01],
       [ 9.52760482e-02],
       [ 3.94790258e-01],
       [ 1.21652738e+00],
       [ 6.95788127e-01],
       [ 7.67886874e-01],
       [ 6.34436783e-01],
       [ 6.83624120e-01],
       [ 6.20903136e-01],
       [-3.42454934e-02],
       [ 5.15814168e-01],
       [ 6.14772921e-01],
       [-4.19415767e-02],
       [ 1.12202230e+00],
       [ 7.22272273e-01],
       [ 7.08263593e-01],
       [ 8.35133279e-01],
       [ 2.59898351e-01],
       [ 6.14772921e-01],
       [ 5.54389264e-01],
       [ 2.05683170e-01],
       [ 1.66872711e-01],
       [ 2.29344638e-01],
       [ 8.95055711e-01],
       [ 6.36757252e-01],
       [ 7.23139337e-01],
       [ 5.50434232e-01],
       [ 8.33383287e-01],
       [ 5.58189768e-01],
       [ 1.26970851e-04],
       [ 8.15180931e-01],
       [ 5.16522447e-01],
       [ 5.76669133e-01],
       [ 1.35127452e-01],
       [ 2.77124096e-01],
       [ 4.74702046e-01],
       [ 1.23734135e-01],
       [ 6.96451768e-01],
       [ 8.55243951e-01],
       [ 1.45739449e-01],
       [ 3.20334634e-01],
       [ 1.14106238e+00],
       [ 1.12008158e+00],
       [ 6.69478377e-01],
       [ 5.79236441e-01],
       [ 4.96682325e-01],
       [ 3.01128078e-01],
       [-2.17270354e-01],
       [ 2.52325977e-02],
       [-5.77527624e-02],
       [ 1.09988136e+00],
       [ 1.23734135e-01],
       [ 5.93378379e-01],
       [ 8.94746888e-01],
       [ 4.96682325e-01],
       [ 5.67431733e-01],
       [ 4.26214746e-01],
       [ 1.06407937e+00],
       [ 4.74702046e-01],
       [-2.90706136e-02],
       [ 6.44494895e-01],
       [ 2.90941743e-01],
       [ 1.29163168e+00],
       [ 1.12212267e+00],
       [ 5.24851377e-01],
       [-9.84718762e-02],
       [ 7.23139337e-01],
       [ 1.80527346e-01],
       [ 1.21652738e+00],
       [ 2.29344638e-01],
       [ 9.34028806e-01],
       [ 7.21151782e-01],
       [ 4.34728365e-01],
       [ 6.31092640e-01],
       [ 1.04337997e+00],
       [ 8.95055711e-01],
       [ 9.71285233e-01],
       [ 7.20970964e-01],
       [ 4.63323117e-01],
       [ 6.04999859e-01],
       [ 5.54389264e-01],
       [-1.27062400e-01],
       [-1.86248583e-01],
       [ 2.13910856e-01],
       [ 5.89209892e-01],
       [ 1.48826571e-01],
       [ 2.45022877e-01],
       [ 5.93378379e-01],
       [ 7.81942239e-01],
       [ 6.45161053e-01],
       [ 7.14100332e-01],
       [ 8.03205192e-01],
       [ 8.55243951e-01],
       [ 6.45161053e-01],
       [ 5.92816081e-01],
       [ 8.42177694e-01],
       [ 3.94790258e-01],
       [ 7.00189144e-01],
       [ 6.29485583e-01],
       [ 1.93463208e-01],
       [ 9.31988471e-01],
       [ 5.80823539e-01],
       [ 4.53891606e-01],
       [ 7.11349416e-01],
       [ 5.16522447e-01],
       [ 4.06589186e-01],
       [ 5.42558704e-01],
       [ 4.06007027e-01],
       [ 8.03205192e-01],
       [ 2.42507608e-01],
       [ 5.27674242e-01],
       [ 1.03410983e+00],
       [ 9.71285233e-01],
       [ 7.00189144e-01],
       [ 8.17073489e-01],
       [-2.20857325e-01],
       [ 1.94649918e-01],
       [ 2.13910856e-01],
       [ 3.12518980e-01],
       [ 2.85776483e-01],
       [-1.33698372e-02],
       [ 6.08720915e-01],
       [ 9.51563644e-01],
       [ 5.55896116e-01],
       [ 2.41999088e-01],
       [ 7.20571611e-01],
       [ 1.99009295e-01],
       [-1.86248583e-01],
       [ 6.33511324e-01],
       [ 7.21151782e-01],
       [ 6.31408667e-01],
       [ 7.56539563e-01],
       [-2.61378457e-02],
       [ 3.38495082e-01],
       [ 8.89998141e-01],
       [ 9.65498557e-02],
       [ 1.29163168e+00],
       [ 1.20409070e-01],
       [ 6.36757252e-01],
       [ 3.12518980e-01],
       [ 9.34028806e-01],
       [-1.22164568e-01],
       [ 1.80527346e-01],
       [ 5.41830473e-01],
       [ 8.76482709e-01],
       [-3.42454934e-02],
       [ 5.56098953e-01],
       [ 1.21652738e+00],
       [ 9.96060219e-01],
       [ 7.38872372e-01],
       [ 6.82049334e-01],
       [ 7.81942239e-01],
       [ 5.50434232e-01],
       [ 3.97391781e-01],
       [ 4.75024767e-01],
       [ 7.16963144e-01],
       [ 6.23960929e-01],
       [-8.45992612e-02],
       [ 6.96306979e-01],
       [ 9.65498557e-02],
       [ 5.75561156e-01],
       [ 1.72692719e-01],
       [ 9.51563644e-01],
       [ 6.43317931e-03],
       [-1.53368264e-01],
       [ 1.20409070e-01],
       [ 2.41999088e-01],
       [ 1.45974523e-01],
       [ 7.16963144e-01],
       [ 5.75561156e-01],
       [ 8.97454821e-01],
       [ 6.49245891e-01],
       [ 2.41999088e-01]])

In [17]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [18]:
print("MSE: ",mean_squared_error(y_test,y_predict))
print("MEA: ",mean_absolute_error(y_test,y_predict))
print("R2 Score: ",r2_score(y_test,y_predict))

MSE:  0.12052115873347466
MEA:  0.2898163506435746
R2 Score:  0.5176284099262596