In [1]:
import pandas as pd

In [38]:
df = pd.read_csv("survey lung cancer.csv")
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,0,69,0,1,1,0,0,1,0,1,1,1,1,1,1,1
1,0,74,1,0,0,0,1,1,1,0,0,0,1,1,1,1
2,1,59,0,0,0,1,0,1,0,1,0,1,1,0,1,0
3,0,63,1,1,1,0,0,0,0,0,1,0,0,1,1,0
4,1,63,0,1,0,0,0,0,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,1,56,0,0,0,1,1,1,0,0,1,1,1,1,0,1
305,0,70,1,0,0,0,0,1,1,1,1,1,1,0,1,1
306,0,58,1,0,0,0,0,0,1,1,1,1,0,0,1,1
307,0,67,1,0,1,0,0,1,1,0,1,1,1,0,1,1
308,0,62,0,0,0,1,0,1,1,1,1,0,0,1,0,1

In [39]:
df.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,0,69,0,1,1,0,0,1,0,1,1,1,1,1,1,1
1,0,74,1,0,0,0,1,1,1,0,0,0,1,1,1,1
2,1,59,0,0,0,1,0,1,0,1,0,1,1,0,1,0
3,0,63,1,1,1,0,0,0,0,0,1,0,0,1,1,0
4,1,63,0,1,0,0,0,0,0,1,0,1,1,0,0,0

In [40]:
df.tail()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
304,1,56,0,0,0,1,1,1,0,0,1,1,1,1,0,1
305,0,70,1,0,0,0,0,1,1,1,1,1,1,0,1,1
306,0,58,1,0,0,0,0,0,1,1,1,1,0,0,1,1
307,0,67,1,0,1,0,0,1,1,0,1,1,1,0,1,1
308,0,62,0,0,0,1,0,1,1,1,1,0,0,1,0,1

In [41]:
df.describe()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
count,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000,309.000000
mean,0.475728,62.673139,0.563107,0.569579,0.498382,0.501618,0.504854,0.673139,0.556634,0.556634,0.556634,0.579288,0.640777,0.469256,0.556634,0.873786
std,0.500221,8.210301,0.496806,0.495938,0.500808,0.500808,0.500787,0.469827,0.497588,0.497588,0.497588,0.494474,0.480551,0.499863,0.497588,0.332629
min,0.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,57.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,0.000000,62.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000
75%,1.000000,69.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,87.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [42]:
# Checking the DataFrame having any Null values
df.isna().sum()

GENDER                   0
AGE                      0
SMOKING                  0
YELLOW_FINGERS           0
ANXIETY                  0
PEER_PRESSURE            0
CHRONIC DISEASE          0
FATIGUE                  0
ALLERGY                  0
WHEEZING                 0
ALCOHOL CONSUMING        0
COUGHING                 0
SHORTNESS OF BREATH      0
SWALLOWING DIFFICULTY    0
CHEST PAIN               0
LUNG_CANCER              0
dtype: int64

In [43]:
df.shape

(309, 16)

In [44]:
# Define the Target  variable
y= df[['LUNG_CANCER']]
y

     LUNG_CANCER
0              1
1              1
2              0
3              0
4              0
..           ...
304            1
305            1
306            1
307            1
308            1

[309 rows x 1 columns]

In [45]:
x = df.drop(columns=['LUNG_CANCER'])
x

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN
0,0,69,0,1,1,0,0,1,0,1,1,1,1,1,1
1,0,74,1,0,0,0,1,1,1,0,0,0,1,1,1
2,1,59,0,0,0,1,0,1,0,1,0,1,1,0,1
3,0,63,1,1,1,0,0,0,0,0,1,0,0,1,1
4,1,63,0,1,0,0,0,0,0,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,1,56,0,0,0,1,1,1,0,0,1,1,1,1,0
305,0,70,1,0,0,0,0,1,1,1,1,1,1,0,1
306,0,58,1,0,0,0,0,0,1,1,1,1,0,0,1
307,0,67,1,0,1,0,0,1,1,0,1,1,1,0,1
308,0,62,0,0,0,1,0,1,1,1,1,0,0,1,0

In [46]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [47]:
print("x_train: ",x_train.shape)
print("y_train: ",y_train.shape)
print("x_test: ",x_test.shape)
print("y_test: ",x_test.shape)

x_train:  (247, 15)
y_train:  (247, 1)
x_test:  (62, 15)
y_test:  (62, 15)

In [48]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [49]:
lr.fit(x_train,y_train)

LinearRegression()

In [50]:
m = lr.coef_
print("Coeff: ",m)

Coeff:  [[-0.02499507  0.00142731  0.1045368   0.18580947 -0.01445357  0.08941282
   0.07080232  0.12034406  0.12295874  0.0623822   0.20614174  0.08065177
   0.05985099  0.11334131  0.01550469]]

In [51]:
c = lr.intercept_
print("intercept: ",c)

intercept:  [0.11798257]

In [52]:
y_predict = lr.predict(x_test)
y_predict

array([[1.06561286],
       [0.92074132],
       [0.94758105],
       [0.87416638],
       [0.9350519 ],
       [1.05682035],
       [0.77888669],
       [0.99882931],
       [0.9925585 ],
       [0.91093422],
       [1.16380554],
       [0.66443926],
       [0.97193822],
       [1.02265856],
       [1.03115526],
       [0.57731187],
       [1.12487268],
       [0.91342967],
       [0.91826164],
       [0.97313768],
       [0.8187837 ],
       [0.89122124],
       [0.52454158],
       [0.97186228],
       [0.91166498],
       [1.07691436],
       [1.00048447],
       [0.56171955],
       [0.95795826],
       [0.60188828],
       [0.99762984],
       [0.90969776],
       [0.78923267],
       [0.69708626],
       [1.05273173],
       [0.89043713],
       [1.07691436],
       [0.84143462],
       [0.54986086],
       [0.74550823],
       [0.81730167],
       [0.64873882],
       [1.04416785],
       [0.61968004],
       [0.38261844],
       [0.97028306],
       [0.97456499],
       [1.08062599],
       [0.76746818],
       [1.04695574],
       [0.97028306],
       [0.92248411],
       [0.95938558],
       [0.84472562],
       [0.95075234],
       [1.23384831],
       [0.99049328],
       [0.63489692],
       [0.42592145],
       [0.64686574],
       [0.84609275],
       [1.26096725]])

In [56]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [55]:
print("MSE: ",mean_squared_error(y_test,y_predict))
print("MEA: ",mean_absolute_error(y_test,y_predict))
print("R2 Score: ",r2_score(y_test,y_predict))

MSE:  0.08558587668393225
MEA:  0.19640235796892358
R2 Score:  0.3102890776246634